.empty_value {
	opacity: 0.7;
}

.boss_list_item {
	border: 2px solid;
	display: grid;
	font-weight: bold;
	grid-template-columns: 64px 0.6fr 1fr repeat(3, 0.8fr);
	grid-template-rows: 65px;
	margin: 0 auto;
	max-width: 100rem;
	width: 100%;
}
.boss_list_item p {
	letter-spacing: 0.2rem;
}
.boss_list_item.easy {
	background: linear-gradient(#bbbbbb, #666666);
	border-image: linear-gradient(#bbbbbb, #666666) 1 10%;
}
.boss_list_item.normal {
	background: linear-gradient(#44aabb, #227799);
	border-image: linear-gradient(#44aabb, #227799) 1 10%;
}
.boss_list_item.hard {
	background: linear-gradient(#cc4477, #993355);
	border-image: linear-gradient(#cc4477, #993355) 1 10%;
}
.boss_list_item.chaos {
	background: linear-gradient(#444444, #222222);
	border-image: linear-gradient(-90deg, #bb9966, #ddbb88, #bb9966) 1 10%;
}
.boss_list_item.chaos p,
.boss_list_item.chaos button {
	color: #eeccaa;
}
.boss_list_item.extreme {
	background: linear-gradient(#444444, #333333);
	border-image: linear-gradient(#ee3366, #ee7722) 1 10%;
}
/* FOR LINEAR GRADIENT ON TEXT/BUTTONS */
.boss_list_item.extreme p,
.boss_list_item.extreme button {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(#ee7722, #ee4455);
	background-clip: text;
}

.boss_list_item .grid_cell {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	text-align: center; /* TO CENTER TEXT WHEN IT BREAKS */
}
.boss_list_item .grid_cell:not(:last-of-type) {
	border-right: 0.1rem solid rgb(0, 0, 0);
}

.first_unique_boss_entry:not(:first-of-type) {
	margin-top: 2rem;
}

@media (prefers-color-scheme: light) {
	.boss_list_item {
		box-shadow: 0 0 10px black;
	}
	.boss_list_item p,
	.boss_list_item button {
		color: white;
	}
}

@media screen and (max-width: 800px) {
	.boss_list_item {
		grid-template-columns: 64px 0.6fr 1fr repeat(2, 0.8fr);
	}
	.boss_list_item div:nth-of-type(3) {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	.boss_list_item {
		grid-template-columns: 64px 0.7fr repeat(2, 0.8fr);
	}
	.boss_list_item div:nth-of-type(2) {
		display: none;
	}

	.boss_list_item p {
		font-size: 1.2rem;
	}

	.boss_list_item button {
		font-size: 1.6rem;
	}
}
