*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	background: rgb(29, 29, 29);
	color: white;
	font-family: Segoe UI, Roboto, Helvetica, sans-serif;
	font-size: 1.6rem;
	padding: 3rem 0.5rem 2rem;
}

small {
	bottom: 0.5rem;
	cursor: pointer;
	position: absolute;
	right: 0.5rem;
}

button {
	background: none;
	border: none;
	color: inherit;
	font-size: 2rem;
	font-weight: bold;
	height: 3rem;
	width: 3rem;
}
button:hover {
	cursor: pointer;
	opacity: 0.8;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 0.1rem;
}

@media (prefers-color-scheme: light) {
	body {
		background: rgb(255, 217, 194);
		background: #ddd6cd;
		color: #000000;
	}
}
