.info_container {
	max-width: 100rem;
	width: 100%;
	margin: 3rem auto 4rem;
	border: 2px solid white;
	text-align: center;
	color: white;
	padding-block: 3rem;
	border-radius: 0.5rem;
	overflow: hidden;
	position: relative;
	transition: max-height 600ms;
	max-height: 50rem;
}

.info_container h3 {
	margin-top: 3rem;
}

.info_container p {
	max-width: 55ch;
	margin: 0 auto;
}

.titles_container {
	color: white;
	display: grid;
	grid-template-columns: 64px 0.6fr 1fr repeat(3, 0.8fr);
	margin: 0 auto;
	max-width: 100rem;
	width: 100%;
}

.titles_container div {
	display: flex;
	justify-content: center;
}

.difficulty {
	grid-column-start: 2;
}

.hidden {
	height: auto;
}

.Show {
	max-height: 11.3rem;
}

@media screen and(max-width: 800px) {
	.titles_container {
		grid-template-columns: 64px 0.6fr 1fr repeat(3, 0.8fr);
	}
}
